@{ Layout = "_Layout"; }

<style>
    .form-control {
        border: 1px solid #ced4da;
        border-left: none;
        border-top: none;
        border-right: none;
    }

    .k-dropdown .k-dropdown-wrap {
        border: none;
    }

        .k-dropdown .k-dropdown-wrap.k-state-focused {
            background-color: transparent;
            box-shadow: none;
        }

        .k-dropdown .k-dropdown-wrap:hover {
            background-color: transparent;
        }

    #viewAccountSignUp input,
    #viewAccountSignUp .form-control:focus {
        border-left: none;
        border-top: none;
        border-right: none;
        outline: 0;
        box-shadow: none;
        background-color: transparent;
    }

    #viewAccountSignUp .form-control:focus {
        border-bottom: 1px solid #80bdff;
    }

    #viewAccountSignUp #btnUyeOl {
        background-color: @ViewBag.UyeOlButonFonRengi;
        color: @ViewBag.UyeOlButonYaziRengi;
    }

        #viewAccountSignUp #btnUyeOl:hover {
            opacity: 0.8;
        }
</style>

<div id="viewAccountSignUp" class="bg-white">

    <div class="py-1"></div>

    <div class="row no-gutters">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
            <div id="divSignUp" class="py-3 ">
                <form onsubmit="return false;">
                    <div class="py-4"></div>

                    <div class="text-center">
                        <div class="@ViewBag.LogoClass">
                            <img class="" src="@ViewBag.LogoImageUrl" onerror="this.onerror = null; this.style.visibility = 'hidden';" style="max-width:250px;" />
                        </div>
                    </div>

                    <div class="py-3"></div>

                    <p class="h2 font-weight-bold text-center">
                        <span data-langkey-Text="xLng.UyeOl"></span>
                    </p>

                    <div class="px-5">
                        <div class="form-group row">
                            <label for="sNameSurname" class="col-md-4 col-form-label pr-0 font-weight-light  d-none"><span data-langkey-Text="xLng.AdSoyad"></span></label>
                            <div class="col-md-12">
                                <input name='sNameSurname' type="text" class='form-control rounded-0 font-weight-light' data-langkey-placeholder="xLng.AdSoyad" required autocomplete="Name Surname" />
                            </div>
                        </div>

                        <div class="py-1"></div>

                        <div class="form-group row">
                            <label for="sEmail" class="col-md-4 col-form-label pr-0 font-weight-light  d-none"><span data-langkey-Text="xLng.EmailAdres"></span></label>
                            <div class="col-md-12">
                                <input name='sEmail' type="email" class='form-control rounded-0 font-weight-light' data-langkey-placeholder="xLng.EmailAdres" required autocomplete="Email" />
                            </div>
                        </div>

                        <div class="py-1"></div>

                        <div class="form-group row">
                            <label for="sPassword" class="col-md-4 col-form-label pr-0 font-weight-light d-none"><span data-langkey-Text="xLng.Sifre"></span></label>
                            <div class="col-md-12">
                                <div class="input-group bg-white">
                                    <input name='sPassword' type="password" class='form-control rounded-0 font-weight-light' data-langkey-placeholder="xLng.Sifre" required autocomplete="off" />
                                    <div class="input-group-addon" style="padding:2px;">
                                        <button type="button" id="btnPasswordShowhide" class="btn btn-link btn-sm mn-hover-color-orange" tabindex="-1"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="py-1"></div>

                        <div id="divSecurityCode" class="form-group row">
                            <label for="sSecurityCode" class="col-md-4 col-form-label pr-0 font-weight-light d-none"><span data-langkey-Text="xLng.GuvenlikKodu"></span></label>
                            <div class="col-md-12">
                                <div class="input-group" style="">
                                    <input id="captchaImage" type="image" class="form-control" tabindex="-1" style="cursor:default; padding:1px; border:none; box-shadow:none; height:45px;" src="@ViewBag.CaptchaImage">
                                    <span class="input-group-btn" style="padding:2px;">
                                        <button id="btnSecurityCode" class="btn btn-link btn-sm mn-hover-color-orange" type="button" tabindex="-1" style="cursor:pointer; padding: 5px 9px;"><i class="fa fa-refresh"></i></button>
                                    </span>
                                </div>
                                <input name='captchaToken' type="hidden" value="@ViewBag.CaptchaToken" />
                                <input name='sSecurityCode' type="text" class='form-control rounded-0 font-weight-light' data-langkey-placeholder="xLng.GuvenlikKodu" style="position: relative; z-index: 2;" required value="@ViewBag.SecurityCode" autocomplete="off" />
                            </div>
                        </div>

                        <div class="py-1"></div>

                        <div class="form-group row">
                            <div class="col-md-12 text-center" style="max-width:410px;">
                                <p id="pMessage" class="h6 text-danger font-weight-light" style="display:none;"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label pr-0 d-none"></label>
                            <div class="col-md-12">
                                <button id="btnUyeOl" type="button" class="btn font-weight-light rounded">
                                    <i class="fa fa-user-plus"></i>
                                    <span data-langkey-Text="xLng.UyeOl"></span>
                                    <span id="loader"></span>
                                </button>

                                <a href="/Account" class="font-weight-light float-right">
                                    <span data-langkey-Text="xLng.GirisYap"></span>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="py-1"></div>

                    <div class="px-5">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="text-justify">
                                    <span class="font-weight-light text-danger" data-langkey-Text="xLng.KayitIslemiBilgilendirmeNotu"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4"></div>
    </div>
</div>

<script>
    window.addEventListener('load', (event) => {
        //mnLang.CreateWidget("#languageStatus #langFlag"); // dil seçimi göstermek için
        viewAccountSignUp.prepare();
    });

    window.viewAccountSignUp = function () {
        var self = {};
        self.selector = '#viewAccountSignUp';

        self.animateInClass = 'zoomIn fast';
        self.animateOutClass = 'zoomOut slower';

        function fReadCaptcha() {
            $.ajax({
                url: "/Api/Tem/CreateCaptcha",
                type: "POST", dataType: "json",
                success: function (result, textStatus, jqXHR) {
                    if (result.Success) {
                        $(self.selector).find("[name=captchaToken]").val(result.Data.CaptchaToken);
                        $(self.selector).find("#captchaImage").attr("src", result.Data.CaptchaImage);
                    } else {
                        mnAlert.warning(result.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    mnAlert.error(jqXHR.responseText);
                }
            });
        }

        function fValidate_required(elm) {
            var rV = false;
            if ($(elm).attr("required")) {
                if ($(elm).val().length > 0) {
                    rV = true;
                    $(elm).closest(".form-group").addClass("has-success").removeClass("has-error");
                } else {
                    rV = false;
                    $(elm).closest(".form-group").addClass("has-error").removeClass("has-success");
                }
            } else {
                rV = true;
            }
            return rV;
        }

        function fValidate_All(elmDiv) {
            var rV = true;
            elmDiv.find("input").each(function (index, elm) {
                if (!fValidate_required(elm)) {
                    rV = false;
                }
            });
            return rV;
        }

        self.fUyeOl = function (sNameSurname, sEmail, sPassword, sSecurityCode) {
            var _data = {
                _mail: sEmail,
                _adSoyad: sNameSurname,
                _dogumYili: 0,
                _sifre: sPassword,
                _captchaCode: sSecurityCode,
                _captchaToken: $(self.selector).find("[name=captchaToken]").val()
            };

            $.ajax({
                url: "/Account/UyeKayitTalep",
                data: _data,
                type: "POST", dataType: "json",
                beforeSend: function (jqXHR, settings) {
                    self.loaderLogin.show();
                },
                success: function (result, textStatus, jqXHR) {
                    self.loaderLogin.hide();
                    if (result.Success) {
                        alert(result.Message);
                        window.location = "/Account";
                        self.fAnimateOut();
                    } else {
                        $(self.selector).find('#pMessage').text(result.Message).show("slow");
                        self.loaderLogin.hide();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("(" + jqXHR.status + ") " + jqXHR.statusText + "\n" + this.url);
                },
                complete: function () {
                    self.loaderLogin.hide();
                    fReadCaptcha();
                }
            });
        };

        self.fAnimateIn = function () {
            $(self.selector).find("#divSignUp").addClass(self.animateInClass);
        };

        self.fAnimateOut = function () {
            $(self.selector).find("#divSignUp").removeClass(self.animateInClass);
            $(self.selector).find("#divSignUp").addClass(self.animateOutClass);
        };

        self.prepare = function () {

            self.fAnimateIn();

            $(self.selector).find("input").on("click blur change", function (e) {
                fValidate_required(e.currentTarget);
            });

            $(self.selector).find("[name='sNameSurname']").keydown(function (e) {
                if (e.which === 13) {
                    $(self.selector).find("[name='sEmail']").focus();
                }
            });

            $(self.selector).find("[name='sEmail']").keydown(function (e) {
                if (e.which === 13) {
                    $(self.selector).find("[name='sPassword']").focus();
                }
            });

            $(self.selector).find("[name='sPassword']").keydown(function (e) {
                if (e.which === 13) {
                    if ($(self.selector).find("[name='sSecurityCode']").is(":visible")) {
                        $(self.selector).find("[name='sSecurityCode']").focus();
                    } else {
                        $(self.selector).find("#btnGiris").click();
                    }
                }
            });

            // parolaların göster gizle için
            $(self.selector).find("#btnPasswordShowhide").click(function (e) {
                console.log("btnPasswordShowhide", e);
                e.preventDefault();
                $elmInput = $(self.selector).find("[name='sPassword']");
                $elmButton = $(self.selector).find("#btnPasswordShowhide");

                if ($elmInput.attr("type") == "text") {
                    $elmInput.attr('type', 'password');
                    $elmButton.find('i').addClass("fa-eye-slash");
                    $elmButton.find('i').removeClass("fa-eye");
                } else if ($elmInput.attr("type") == "password") {
                    $elmInput.attr('type', 'text');
                    $elmButton.find('i').removeClass("fa-eye-slash");
                    $elmButton.find('i').addClass("fa-eye");
                }
            });

            //Captcha
            $(self.selector).find("#btnSecurityCode").click(function () {
                fReadCaptcha();
            });

            $(self.selector).find("[name='sSecurityCode']").keydown(function (e) {
                if (e.which === 13) {
                    $(self.selector).find("#btnGiris").click();
                }
            });

            //buttons
            $(self.selector).find("#btnUyeOl").click(function (e) {
                mnApi.controlDisableWait($(e.target));
                $(self.selector).find('#pMessage').text("").hide("slow");
                var elmDiv = $(self.selector).find("#divSignUp");
                if (fValidate_All(elmDiv)) {
                    var sNameSurname = $(self.selector).find("[name='sNameSurname']").val();
                    var sEmail = $(self.selector).find("[name='sEmail']").val();
                    var sPassword = $(self.selector).find("[name='sPassword']").val();
                    var sSecurityCode = $(self.selector).find("[name='sSecurityCode']").val();

                    self.fUyeOl(sNameSurname, sEmail, sPassword, sSecurityCode);

                } else {
                    $(self.selector).find('#pMessage').text(mnLang.TranslateWithWord('xLng.DoldurulmasiGerekenAlanlarVar')).show("slow");
                }
            });

            self.loaderLogin = $(self.selector).find('#loader').kendoLoader({
                visible: false,
                size: "small",
                themeColor: 'primary',
                type: 'pulsing' //"pulsing", "infinite-spinner", "converging-spinner"
            }).getKendoLoader();

            // Language
            mnLang.TranslateWithSelector($(self.selector));
        };

        return self;
    }();



</script>
